@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin '@tailwindcss/forms';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
  .btn {
    @apply rounded-lg px-4 py-1.5 font-medium text-sm;
  }

  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-600 transition-colors duration-200 text-white cursor-pointer;
  }

  .card {
    @apply rounded-lg p-6 bg-white;
  }

  .textarea {
    @apply rounded-lg px-3 py-2 bg-white border-gray-300 text-sm min-h-24;
  }
}

#container {
  width: 100%;
  margin: 20px auto;
}

.ck-editor__editable[role="textbox"] {
  /* editing area */
  min-height: 200px;
}

.ck-content .image {
  /* block images */
  max-width: 80%;
  margin: 20px auto;
}